Repository danieleschmidt/customer-churn-predictor-mlops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-leads, @ml-engineers, @senior-devs, @qa-engineers, @devops-team, @security-team, @technical-writers, @sre-team, @data-engineers, @data-scientists, @backend-devs

feat: implement advanced SDLC optimization for mature repository
  .github/advanced-security.yml
  .github/codeql/codeql-config.yml
  .github/dependency-review-config.yml
  GOVERNANCE.md
  INNOVATION_PIPELINE.md
  automation/advanced-deployment.yml
  compliance/advanced-compliance.yml
  observability/distributed-tracing.yml
  performance-optimization.yml
Owners: @devops-team, @team-leads, @technical-writers, @senior-devs

feat: optimize SDLC configuration for advanced repository maturity
  .github/FUNDING.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/release.yml
  .pre-commit-config.yaml
  monitoring/alerts.yml
  monitoring/dashboards/churn-predictor-dashboard.json
Owners: @devops-team, @team-leads, @security-team, @senior-devs, @sre-team

feat: implement advanced SDLC optimization for production-ready repository
  SDLC_OPTIMIZATION_SUMMARY.md
  docs/workflows/GITHUB_ACTIONS_OPTIMIZATION.md
  observability/advanced-observability.yml
  performance-tuning.yml
  security/advanced-security-config.yml
Owners: @technical-writers, @team-leads, @devops-team, @senior-devs

feat: implement final advanced SDLC optimization enhancements
  .github/performance-benchmarks.yml
  .github/pr-automation.yml
  CHANGELOG.md
  SUPPLY_CHAIN_SECURITY.md
  docs/operations/COST_OPTIMIZATION.md
Owners: @devops-team, @team-leads, @technical-writers

docs: establish project foundation and community files
  PROJECT_CHARTER.md
  docs/adr/template.md
  docs/guides/developer-guide.md
  docs/guides/user-guide.md
Owners: @technical-writers, @team-leads

test: establish comprehensive testing infrastructure
  docs/testing/testing-guide.md
  tests/e2e/__init__.py
  tests/e2e/test_complete_workflow.py
  tests/fixtures/__init__.py
  tests/fixtures/sample_data.py
  tests/performance/locustfile.py
  tests/test_config.yaml
Owners: @technical-writers, @team-leads, @qa-engineers, @ml-engineers, @devops-team, @senior-devs

build: add containerization and build automation
  .releaserc.json
  docs/deployment/build-guide.md
  scripts/generate_sbom.py
Owners: @team-leads, @ml-engineers, @technical-writers, @devops-team

ops: add monitoring and observability configuration
  docs/monitoring/observability-guide.md
  monitoring/alert-rules.yml
  observability/opentelemetry-config.yaml
Owners: @devops-team, @sre-team, @senior-devs

docs: add CI/CD and security workflow documentation and templates
  docs/workflows/examples/cd.yml
  docs/workflows/examples/ci.yml
  docs/workflows/examples/ml-ops.yml
  docs/workflows/examples/security-scan.yml
  docs/workflows/workflow-setup-guide.md
Owners: @technical-writers, @ml-engineers, @team-leads

feat: add metrics tracking and automation scripts
  .github/project-metrics.json
  scripts/collect_metrics.py
  scripts/update_dependencies.py
Owners: @devops-team, @team-leads, @ml-engineers

feat: complete SDLC implementation with integration validation
  IMPLEMENTATION_SUMMARY.md
  VALIDATION_REPORT.md
  scripts/validate_integration.py
Owners: @technical-writers, @team-leads, @devops-team, @ml-engineers

feat(autonomous_sdlc): add complete autonomous SDLC implementation with advanced AI features
  AUTONOMOUS_SDLC_SUMMARY.md
  demo_autonomous_sdlc.py
  src/advanced_optimization.py
  src/advanced_security.py
  src/autonomous_retraining.py
  src/performance_profiler.py
  src/research_framework.py
  tests/e2e/test_complete_workflow.py
  tests/test_advanced_optimization.py
  tests/test_advanced_security.py
  tests/test_autonomous_retraining.py
  tests/test_research_framework.py
Owners: @technical-writers, @team-leads, @ml-engineers, @senior-devs, @qa-engineers

feat(autonomous_sdlc): add complete autonomous SDLC implementation with advanced AI features (#52)
  AUTONOMOUS_SDLC_SUMMARY.md
  demo_autonomous_sdlc.py
  src/advanced_optimization.py
  src/advanced_security.py
  src/autonomous_retraining.py
  src/performance_profiler.py
  src/research_framework.py
  tests/e2e/test_complete_workflow.py
  tests/test_advanced_optimization.py
  tests/test_advanced_security.py
  tests/test_autonomous_retraining.py
  tests/test_research_framework.py
Owners: @technical-writers, @team-leads, @ml-engineers, @senior-devs, @qa-engineers

feat(deployment): add production-ready autonomous SDLC ML system
  DEPLOYMENT_GUIDE.md
  Dockerfile.prod
  PRODUCTION_SUMMARY.md
  basic_validation.py
  docker-compose.prod.yml
  entrypoint.sh
  integration_test.py
  requirements-prod.txt
  src/adaptive_learning.py
  src/advanced_caching_optimization.py
  src/advanced_monitoring.py
  src/auto_scaling_optimization.py
  src/automated_feature_engineering.py
  src/distributed_computing.py
  src/error_handling_recovery.py
  src/high_performance_optimization.py
  src/intelligent_model_selection.py
  src/performance_benchmarking.py
  src/streaming_predictions.py
  tests/test_automated_feature_engineering.py
  tests/test_error_handling_recovery.py
  tests/test_intelligent_model_selection.py
  tests/test_streaming_predictions.py
Owners: @technical-writers, @team-leads, @devops-team, @senior-devs, @ml-engineers, @qa-engineers

feat(deployment): add production-ready autonomous SDLC ML system (#55)
  DEPLOYMENT_GUIDE.md
  Dockerfile.prod
  PRODUCTION_SUMMARY.md
  basic_validation.py
  docker-compose.prod.yml
  entrypoint.sh
  integration_test.py
  requirements-prod.txt
  src/adaptive_learning.py
  src/advanced_caching_optimization.py
  src/advanced_monitoring.py
  src/auto_scaling_optimization.py
  src/automated_feature_engineering.py
  src/distributed_computing.py
  src/error_handling_recovery.py
  src/high_performance_optimization.py
  src/intelligent_model_selection.py
  src/performance_benchmarking.py
  src/streaming_predictions.py
  tests/test_automated_feature_engineering.py
  tests/test_error_handling_recovery.py
  tests/test_intelligent_model_selection.py
  tests/test_streaming_predictions.py
Owners: @technical-writers, @team-leads, @devops-team, @senior-devs, @ml-engineers, @qa-engineers

feat(security): add comprehensive advanced security framework enhancements
  SECURITY_ENHANCEMENTS_SUMMARY.md
  src/advanced_security.py
  src/distributed_computing.py
  tests/quality_gates/chaos_engineering.py
  tests/quality_gates/coverage_analyzer.py
  tests/quality_gates/integration_testing.py
  tests/quality_gates/performance_testing.py
  tests/quality_gates/property_based_testing.py
  tests/quality_gates/quality_gates.py
  tests/quality_gates/security_testing.py
  tests/quality_gates/test_data_manager.py
  tests/quality_gates/test_runner.py
  tests/test_advanced_security.py
  tests/test_auto_scaling_optimization.py
  tests/test_distributed_computing.py
  tests/test_high_performance_optimization.py
  validate_security_enhancements.py
Owners: @technical-writers, @team-leads, @ml-engineers, @senior-devs, @qa-engineers

feat(deployment): add enterprise-grade multi-cloud ML platform deployment
  ENTERPRISE_DEPLOYMENT_SUMMARY.md
  Makefile
  deployment/README.md
  deployment/aws/ecs/service-definition.json
  deployment/aws/ecs/task-definition.json
  deployment/aws/eks/addons-config.yaml
  deployment/aws/eks/cluster-config.yaml
  deployment/azure/aci/container-group.json
  deployment/azure/aks/cluster-config.yaml
  deployment/azure/aks/ingress-controller.yaml
  deployment/ci-cd/github-actions/deploy-production.yml
  deployment/gcp/cloud-run/service.yaml
  deployment/gcp/gke/cluster-config.yaml
  deployment/gcp/gke/workload-identity.yaml
  deployment/helm/ml-platform/Chart.yaml
  deployment/helm/ml-platform/templates/_helpers.tpl
  deployment/helm/ml-platform/templates/deployment.yaml
  deployment/helm/ml-platform/templates/hpa.yaml
  deployment/helm/ml-platform/values.yaml
  deployment/istio/destination-rules.yaml
  deployment/istio/gateway.yaml
  deployment/istio/security-policies.yaml
  deployment/istio/telemetry.yaml
  deployment/kubernetes/configmap.yaml
  deployment/kubernetes/database-deployments.yaml
  deployment/kubernetes/ingress.yaml
  deployment/kubernetes/ml-service-deployment.yaml
  deployment/kubernetes/namespace.yaml
  deployment/kubernetes/persistent-volumes.yaml
  deployment/kubernetes/secrets.yaml
  deployment/kubernetes/services.yaml
  deployment/monitoring/jaeger-distributed-tracing.yaml
  deployment/security/network-policies.yaml
  deployment/terraform/main.tf
  deployment/terraform/variables.tf
  pyproject.toml
  quality_dashboard.py
  requirements-dev.txt
  run_comprehensive_tests.py
  tests/test_comprehensive_new_components.py
Owners: @technical-writers, @team-leads, @ml-engineers, @devops-team, @senior-devs, @sre-team, @qa-engineers

test(coverage): add coverage report and test report HTML
  coverage.json
  pyproject.toml
  test_reports/report.html
Owners: @team-leads, @ml-engineers, @senior-devs

test(coverage): add coverage report and test report HTML (#117)
  coverage.json
  pyproject.toml
  test_reports/report.html
Owners: @team-leads, @ml-engineers, @senior-devs

feat(ml_research_platform): add autonomous ML research platform with distributed orchestration
  AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  src/adaptive_intelligence_framework.py
  src/advanced_quality_gates.py
  src/autonomous_learning_evolution.py
  src/distributed_research_orchestration.py
  src/global_research_coordinator.py
  src/neural_architecture_search.py
  src/production_deployment_orchestrator.py
  src/quantum_enhanced_research.py
Owners: @technical-writers, @team-leads, @ml-engineers, @senior-devs

feat(ml_research_platform): add autonomous ML research platform with distributed orchestration (#133)
  AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  src/adaptive_intelligence_framework.py
  src/advanced_quality_gates.py
  src/autonomous_learning_evolution.py
  src/distributed_research_orchestration.py
  src/global_research_coordinator.py
  src/neural_architecture_search.py
  src/production_deployment_orchestrator.py
  src/quantum_enhanced_research.py
Owners: @technical-writers, @team-leads, @ml-engineers, @senior-devs

test(reports): add comprehensive test and quality gate reports
  quality_gate_reports/quality_gate_1755244856.json
  test_reports/comprehensive_report_comprehensive_test_20250815_080035.html
  test_reports/comprehensive_report_comprehensive_test_20250815_080035.json
  test_reports/quality_gates_report.json
Owners: @team-leads, @ml-engineers

test(reports): add comprehensive test and quality gate reports (#164)
  quality_gate_reports/quality_gate_1755244856.json
  test_reports/comprehensive_report_comprehensive_test_20250815_080035.html
  test_reports/comprehensive_report_comprehensive_test_20250815_080035.json
  test_reports/quality_gates_report.json
Owners: @team-leads, @ml-engineers

feat(autonomous_sdlc): add next-gen autonomous intelligence platform with advanced modules
  TERRAGON_AUTONOMOUS_SDLC_COMPLETION_REPORT_v4.md
  quality_gates_results.json
  run_quality_gates.py
  src/enterprise_reliability_orchestrator.py
  src/hyperscale_performance_engine.py
  src/next_gen_autonomous_research.py
  src/superintelligent_discovery_engine.py
  tests/test_next_gen_autonomous_research.py
  tests/test_superintelligent_discovery_engine.py
Owners: @technical-writers, @team-leads, @ml-engineers, @senior-devs, @qa-engineers

feat(autonomous_sdlc): add next-gen autonomous intelligence platform with advanced modules (#165)
  TERRAGON_AUTONOMOUS_SDLC_COMPLETION_REPORT_v4.md
  quality_gates_results.json
  run_quality_gates.py
  src/enterprise_reliability_orchestrator.py
  src/hyperscale_performance_engine.py
  src/next_gen_autonomous_research.py
  src/superintelligent_discovery_engine.py
  tests/test_next_gen_autonomous_research.py
  tests/test_superintelligent_discovery_engine.py
Owners: @technical-writers, @team-leads, @ml-engineers, @senior-devs, @qa-engineers

feat(research-frameworks): add 4 novel research frameworks with full implementation
  TERRAGON_AUTONOMOUS_SDLC_FINAL_REPORT.md
  examples/research_framework_examples.py
  examples/run_research_examples.py
  run_comprehensive_test_suite.py
  run_research_demo.py
  src/causal_discovery_framework.py
  src/enhanced_research_api.py
  src/multimodal_fusion_framework.py
  src/research_error_handling.py
  src/research_monitoring.py
  src/research_optimization.py
  src/temporal_graph_networks.py
  src/uncertainty_aware_ensembles.py
  tests/test_research_frameworks.py
Owners: @technical-writers, @team-leads, @ml-engineers, @senior-devs, @qa-engineers

feat(research-frameworks): add 4 novel research frameworks with full implementation (#184)
  TERRAGON_AUTONOMOUS_SDLC_FINAL_REPORT.md
  examples/research_framework_examples.py
  examples/run_research_examples.py
  run_comprehensive_test_suite.py
  run_research_demo.py
  src/causal_discovery_framework.py
  src/enhanced_research_api.py
  src/multimodal_fusion_framework.py
  src/research_error_handling.py
  src/research_monitoring.py
  src/research_optimization.py
  src/temporal_graph_networks.py
  src/uncertainty_aware_ensembles.py
  tests/test_research_frameworks.py
Owners: @technical-writers, @team-leads, @ml-engineers, @senior-devs, @qa-engineers

feat(autonomous-evolution): add autonomous evolution orchestrator and quantum ML engine
  TERRAGON_AUTONOMOUS_SDLC_FINAL_IMPLEMENTATION_REPORT.md
  quality_gates_results.json
  src/autonomous_evolution_orchestrator.py
  src/quantum_ml_research_engine.py
Owners: @technical-writers, @team-leads, @ml-engineers, @senior-devs

feat(autonomous-evolution): add autonomous evolution orchestrator and quantum ML engine (#215)
  TERRAGON_AUTONOMOUS_SDLC_FINAL_IMPLEMENTATION_REPORT.md
  quality_gates_results.json
  src/autonomous_evolution_orchestrator.py
  src/quantum_ml_research_engine.py
Owners: @technical-writers, @team-leads, @ml-engineers, @senior-devs

feat(ml-core): add advanced ensemble engine and explainable AI
  src/advanced_ensemble_engine.py
  src/explainable_ai_engine.py
Owners: @ml-engineers, @senior-devs

feat(autonomous): add fully autonomous ML orchestration system
  scripts/run_autonomous_ml.py
  src/autonomous_ml_orchestrator.py
Owners: @devops-team, @ml-engineers, @senior-devs

feat(enterprise): add enterprise-grade ML platform with multi-tenancy
  src/enterprise_ml_platform.py
Owners: @ml-engineers, @senior-devs

feat(quantum): add quantum-enhanced ML optimization framework
  src/quantum_ml_optimizer.py
Owners: @ml-engineers, @senior-devs

feat(performance): add hyperscale performance engine with GPU acceleration
  src/hyperscale_performance_engine.py
Owners: @ml-engineers, @senior-devs

feat(compliance): add global regulatory compliance framework with i18n
  src/global_compliance_framework.py
Owners: @ml-engineers, @senior-devs

test(quality-gates): add comprehensive testing and quality validation framework
  scripts/run_comprehensive_quality_gates.py
  tests/test_advanced_ml_enhancements.py
Owners: @devops-team, @ml-engineers, @qa-engineers

chore(quality-gates): add initial quality gates report JSON file
  quality_gates_report.json
Owners: @team-leads, @ml-engineers

Add autonomous ML pipeline, advanced ensemble, explainability, enterprise platform, compliance, and hyperscale performance (#216)
  quality_gates_report.json
  scripts/run_autonomous_ml.py
  scripts/run_comprehensive_quality_gates.py
  src/advanced_ensemble_engine.py
  src/autonomous_ml_orchestrator.py
  src/enterprise_ml_platform.py
  src/explainable_ai_engine.py
  src/global_compliance_framework.py
  src/hyperscale_performance_engine.py
  src/quantum_ml_optimizer.py
  tests/test_advanced_ml_enhancements.py
Owners: @team-leads, @ml-engineers, @devops-team, @senior-devs, @qa-engineers

feat(autonomous-sdlc): add final report and production deployment guide
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  PRODUCTION_DEPLOYMENT_GUIDE.md
  coverage.json
  data/test_predictions.csv
  run_comprehensive_security_audit.py
  run_performance_benchmarks.py
  security_audit_report.json
  src/advanced_error_recovery_system.py
  src/autonomous_reliability_orchestrator.py
  src/hyperscale_distributed_orchestrator.py
  src/production_monitoring_suite.py
  test_reports/report.html
  tests/test_advanced_error_recovery_system.py
  tests/test_autonomous_reliability_orchestrator.py
  tests/test_production_monitoring_suite.py
Owners: @technical-writers, @team-leads, @ml-engineers, @data-engineers, @senior-devs, @qa-engineers

feat(autonomous-sdlc): add final report and production deployment guide (#228)
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  PRODUCTION_DEPLOYMENT_GUIDE.md
  coverage.json
  data/test_predictions.csv
  run_comprehensive_security_audit.py
  run_performance_benchmarks.py
  security_audit_report.json
  src/advanced_error_recovery_system.py
  src/autonomous_reliability_orchestrator.py
  src/hyperscale_distributed_orchestrator.py
  src/production_monitoring_suite.py
  test_reports/report.html
  tests/test_advanced_error_recovery_system.py
  tests/test_autonomous_reliability_orchestrator.py
  tests/test_production_monitoring_suite.py
Owners: @technical-writers, @team-leads, @ml-engineers, @data-engineers, @senior-devs, @qa-engineers

.github/CODEOWNERS:

# CODEOWNERS file for Customer Churn Predictor MLOps
# https://docs.github.com/articles/about-code-owners/

# Global owners for all files
* @team-leads @ml-engineers

# Python source code
src/ @ml-engineers @senior-devs
tests/ @qa-engineers @ml-engineers

# Configuration and infrastructure
*.yml @devops-team @senior-devs
*.yaml @devops-team @senior-devs
pyproject.toml @senior-devs @ml-engineers
requirements*.txt @senior-devs @ml-engineers
requirements*.lock @senior-devs @ml-engineers

# Docker and deployment
Dockerfile* @devops-team @senior-devs
docker-compose*.yml @devops-team @senior-devs
scripts/ @devops-team @ml-engineers

# Security and compliance
SECURITY.md @security-team @team-leads
SECURITY_ASSESSMENT.md @security-team @team-leads
.pre-commit-config.yaml @security-team @senior-devs
scripts/security-scan.sh @security-team @devops-team

# Documentation
docs/ @technical-writers @ml-engineers
*.md @technical-writers @team-leads
README.md @team-leads @technical-writers

# GitHub workflows and automation
.github/ @devops-team @team-leads
workflow-files-for-manual-addition/ @devops-team @team-leads

# Monitoring and observability
monitoring/ @devops-team @sre-team
src/metrics.py @devops-team @ml-engineers
src/monitor_performance.py @ml-engineers @sre-team

# Data and ML pipelines
data/ @data-engineers @ml-engineers
src/train_model.py @ml-engineers @data-scientists
src/predict_churn.py @ml-engineers @data-scientists
src/preprocess_data*.py @data-engineers @ml-engineers

# API and web components
src/api.py @backend-devs @ml-engineers
src/cli.py @backend-devs @ml-engineers

# Critical configuration files that require multiple approvals
pyproject.toml @team-leads @senior-devs @ml-engineers
.github/workflows/ @devops-team @team-leads @senior-devs
